<div class="jumbotron">
  <h2>About GPX</h2>
  <p>GPX files are often exported from GPS applications and devices, (for example <a href="https://strava.zendesk.com/entries/22555481-Exporting-your-Data-and-Bulk-Export#GPX">Strava</a>).</p>
  <p>A GPX file contains a list of waypoints recorded by your device at (usually) regular intervals. Each point has a Latitude, Longitude, Elevation and time/date.</p>
  <p>Once you have a GPX file, upload it to see it plotted on the map.</p>
</div>

<%= render partial: "form" %>
